<div>
  <div class="span3" data-ng-include data-src="'views/userList.html'"></div>

  <div class="well span8">
    <h1>Neoprene</h1>
    <p>This is a template app showing the use of Angular, Node.js and Neo4j. It uses the neoprene library, available on npm as neoprene. This app is a simple social network manager: it lets you add and remove users and "follows" relationships between them. (Blatently copied from Node-Neo4j - credit to Aseem Kishore)</p>

    <p>Click on a user on the left to get started or create a new one.</p>

    <h3>Enjoy playing around.</h3>
  </div>
</div>
